wrk2/**/*.o
wrk2/deps/luajit/src/host/buildvm
wrk2/deps/luajit/src/host/buildvm_arch.h
wrk2/deps/luajit/src/host/minilua
wrk2/deps/luajit/src/jit/vmdef.lua
wrk2/deps/luajit/src/libluajit.a
wrk2/deps/luajit/src/lj_bcdef.h
wrk2/deps/luajit/src/lj_ffdef.h
wrk2/deps/luajit/src/lj_folddef.h
wrk2/deps/luajit/src/lj_libdef.h
wrk2/deps/luajit/src/lj_recdef.h
wrk2/deps/luajit/src/lj_vm.s
wrk2/deps/luajit/src/luajit
wrk2/wrk

cmake-build/
cmake-staged/

.vscode/
